<%- include("template/cabecera", {tituloWeb: 'Detalle del paciente'}) %>

    <div class="container">
        <h1>Detalle Paciente</h1>
        <% if (error) { %>
            <p>
                <%= mensaje %> 
            </p>
            <a href="/pacientes" class="btn btn-dark btn-block">Volver a Pacientes</a>
        <% } %>

        <% if (!error) { %>

            <form id="formularioEditar" data-id="<%= paciente.id %>">
                <input 
                    type="text"
                    class="form-control my-2"
                    name="nombre"
                    value="<%= paciente.nombre %>"
                    id="nombreInput"
                >
                <input 
                    type="text"
                    class="form-control my-2"
                    name="descripcion"
                    value="<%= paciente.edad %>"
                    id="edadInput"
                >

                <input 
                    type="text"
                    class="form-control my-2"
                    name="nombre"
                    value="<%= paciente.historial %>"
                    id="historialInput"
                >
                <input 
                    type="text"
                    class="form-control my-2"
                    name="descripcion"
                    value="<%= paciente.medicina %>"
                    id="medicinaInput"
                >
                <button
                    class="btn btn-warning btn-block"
                    type="submit"
                >
                    Editar
                </button>
            </form>

            <hr>

            <button
                class="btn btn-danger btn-sm mt-5"
                id="btnEliminar"
                data-id="<%= paciente.id %>"
            >
                Eliminar
            </button>
        <% } %>
    </div>
    

<%- include("template/footer") %>


<script>

    const btnEliminar = document.querySelector('#btnEliminar')

    btnEliminar.addEventListener('click', async() => {
        console.log('me diste click')
        const id = btnEliminar.dataset.id
        console.log('id', id)
        try {
            const data = await fetch(`/pacientes/${id}`, {
                method: 'delete'
            })
            const res = await data.json()
            
            if(res.estado){
                window.location.href = '/pacientes'
            }else {
                console.log(res)
            }

        } catch (error) {
            console.log(error)
        }
    })

    const formularioEditar = document.querySelector('#formularioEditar')

    formularioEditar.addEventListener('submit', async(e) => {
        e.preventDefault()
        
        const nombre = formularioEditar.elements['nombre'].value
        const edad = document.querySelector('#edadInput').value
        const historial = document.querySelector('#historialInput').value
        const medicina = document.querySelector('#medicinaInput').value
        const id = formularioEditar.dataset.id
        
        try {
            const data = await fetch(`/pacientes/${id}`, {
                method: 'put',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({nombre, edad,historial, medicina })
            })
            const res = await data.json()
            
            if(res.estado){
                window.location.href = '/pacientes'
            }else{
                console.log(res)
            }
        } catch (error) {
            console.log(error)
        }

    })

</script>