<%- include("template/cabecera", {tituloWeb: 'Página de inicio'}) %>

    <div class="container">

        <h1>CRUD Mongo</h1>
        <a
            class="btn btn-success btn-block my-4"
            href="/pacientes/crear"
        >
            Registrar Paciente
          </a>

        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Edad</th>
                <th scope="col">Historial</th>
                <th scope="col">Medicina</th>
              </tr>
            </thead>
            <tbody>
                
                <% if (arrayPacientesDB.length > 0) { %>
                    <% arrayPacientesDB.forEach(paciente => { %>
                        
                        <tr>
                            <th scope="row"><%= paciente.id %> </th>
                            <td><%= paciente.nombre %></td>
                            <td><%= paciente.edad %></td>
                            <td><%= paciente.historial %></td>
                            <td><%= paciente.medicina%></td>
                            <td>
                                <a 
                                    href="pacientes/<%= paciente.id %>"
                                    class="btn btn-warning btn-sm"
                                >
                                EDITAR
                                </a>
                            </td>
                        </tr>
                    
                    <% }) %>
                <% } %>

            </tbody>
          </table>

        
    </div>

<%- include("template/footer") %>